/* fonts connection */

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./font/HelveticaNeueCyr-Medium.eot');
  src:
    local('HelveticaNeueCyr-Medium'),
    url('./font/HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
    url('./font/HelveticaNeueCyr-Medium.woff2') format('woff2'),
    url('./font/HelveticaNeueCyr-Medium.woff') format('woff'),
    url('./font/HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./font/HelveticaNeueCyr-Light.eot');
  src:
    local('HelveticaNeueCyr-Light'),
    url('./font/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
    url('./font/HelveticaNeueCyr-Light.woff2') format('woff2'),
    url('./font/HelveticaNeueCyr-Light.woff') format('woff'),
    url('./font/HelveticaNeueCyr-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./font/HelveticaNeueCyr-MediumItalic.eot');
  src:
    local('HelveticaNeueCyr-MediumItalic'),
    url('./font/HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
    url('./font/HelveticaNeueCyr-MediumItalic.woff2') format('woff2'),
    url('./font/HelveticaNeueCyr-MediumItalic.woff') format('woff'),
    url('./font/HelveticaNeueCyr-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('./font/HelveticaNeueCyr-Bold.eot');
  src:
    local('HelveticaNeueCyr-Bold'),
    url('./font/HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
    url('./font/HelveticaNeueCyr-Bold.woff2') format('woff2'),
    url('./font/HelveticaNeueCyr-Bold.woff') format('woff'),
    url('./font/HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* variables */
:root {
  --primary: #46cd9c;
  --primary-light: rgba(70, 205, 156, 0.6);
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --semi-white: rgba(255, 255, 255, 0.9);
  --comment-white: rgba(255, 255, 255, 0.7);
  --semi-black: rgba(0, 0, 0, 0.9);
  --rose: #fe4566;
  --background: #002629;
  --attract: #81eea9;
  --box-light-green: #dbf5ab;
  --box-green: #02b385;
  --box-dark-green: #024b40;
  --box-darker-green: #004040;
  --box-darkest-green: #002325;
  --box-semi-light-green: #aff2af;
  --light-grey: #ededed;
  --simple-grey: rgba(0, 0, 0, 0.4);
  --font-size: 75%;
  --xs: 500px;
  --sm: 650px;
  --md: 900px;
  --lg: 1260px;
  --extra: 1858px;
}

/* common styles of application */

/* add this classes to organize your html */
html {
  font-size: var(--font-size) !important;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Helvetica Neue", sans-serif;
  background-color: var(--primary);
}

.none {
  display: none;
}

.is-primary-bg {
  background-color: var(--primary);
}

/* flex */
.is-display-flex {
  display: flex;
}

.is-justify-center {
  justify-content: center;
}

.is-flex-end {
  justify-content: flex-end;
}

.is-align-items-center {
  align-items: center;
}

.is-flex-column {
  display: flex;
  flex-direction: column;
}

.is-flex-wrap {
  flex-wrap: wrap;
}

.is-inline-flex {
  display: inline-flex;
}

.is-half-flex-basis {
  flex-basis: 50%;
}

.is-order-1 {
  order: 1;
}

.is-absolute {
  position: absolute !important;
}

.is-relative {
  position: relative !important;
}

/* h1, h2, h3 etc. */
.is-h1 {
  font-size: 6rem;
  font-weight: 500;
}

.is-h2 {
  font-size: 4rem;
  font-weight: normal;
}

.is-h3 {
  font-size: 2rem;
  font-weight: normal;
}

.is-comment-text {
  color: var(--comment-white);
  font-weight: 300;
  font-size: 1.5rem;
  position: relative;
}

.is-comment-text:first-child::before {
  content: '*';
  position: absolute;
  left: -8px;
  top: 14%;
}

@media screen and (max-width: 700px) {
  .is-h2 {
    font-size: 2.5rem;
  }

  .is-h3 {
    font-size: 1.55rem;
  }

  .is-comment-text {
    font-size: 1rem;
  }
}

/* other */
.cursor-pointer {
  cursor: pointer;
}

.is-no-list-decoration {
  list-style-type: none;
}

.is-ul {
  list-style-type: none;
}

.m-0 {
  margin: 0;
}

a {
  cursor: pointer;
  color: var(--white);
  text-decoration: none;
  transition: all 0.4s ease-in;
}

a:hover {
  color: var(--background) !important;
}

a:visited {
  color: var(--white);
  text-decoration: none;
}

.is-w-full {
  width: 100%;
}

@media (max-width: 900px) {
  .is-h1 {
    font-size: 4rem !important;
  }
}

.is-button {
  height: 60px;
  width: 225px;
  border: none;
  cursor: pointer;
  pointer-events: visible;
}

.is-button[disable="true"] {
  background-color: var(--simple-grey);
  cursor: not-allowed;
}

.is-button[disable="true"]:hover {
  background-color: var(--simple-grey);
}

.is-button:focus {
  outline: none;
}

/* Nav bar */

.nav-bar {
  z-index: 1;
  display: flex;
  position: absolute;
  width: 100%;
}

.logo-text {
  padding: 30px 0 0 30px;
  flex-basis: 47%;
  margin: 0;
  color: var(--semi-white);
}

.nav-bar > *:nth-child(1) {
  flex: 0 0 0;
}

.nav-bar > .logo-text {
  flex: 1 1 50%;
}

.nav-bar > nav {
  flex: 1 1 50%;
}

@media screen and (max-width: 700px) {
  .nav-bar {
    flex-wrap: wrap;
  }

  :is(.nav-bar) .logo-text {
    justify-content: center;
    display: flex;
  }
}

.main-content__navigation-bar {
  display: flex;
  justify-content: space-around;
  color: var(--semi-white);
  font-size: 24px;
}

/* buttons */

.is-primary-button {
  background-color: var(--primary);
  color: var(--white);
}

.is-dark-button {
  color: var(--white);
  background-color: var(--background);
}

.is-dark-button:hover {
  background-color: var(--box-darkest-green);
}

.is-primary-button:hover {
  background-color: #3cd262;
  color: var(--white);
}

.is-secondary-button {
  background-color: var(--white);
  color: var(--black);
  margin-bottom: 2rem;
  border-bottom: 3px solid transparent !important;
  transition: all 0.4s ease-in;
}

.is-secondary-button:hover {
  border-bottom: 3px solid var(--black) !important;
}

/* footer */

.footer {
  background-color: var(--background);
  color: var(--white);
  flex-basis: 50%;
  padding: 3rem 5rem 0.5rem 5rem;
}

.footer-left {
  flex: 1 1 50%;
  margin-top: 3rem;
}

.up-ico {
  width: 13px;
}

.internal-pages {
  width: 50%;
}

blockquote h3 {
  margin: 0.5rem 0;
}

.internal-links h3 {
  margin: 1rem 0;
}

.internal-links a:hover {
  color: rgb(109, 96, 96) !important;
}

.ngos {
  width: 50%;
}

.ngos-links h3 {
  margin: 1rem 0;
}

.ngos-links a:hover {
  color: rgb(109, 96, 96) !important;
}

.copyright {
  width: 100%;
  display: block;
  margin-top: 5rem;
  font-style: italic;
}

.footer-right {
  flex: 1 1 50%;
  position: relative;
}

.quote {
  text-align: center;
}

.quote-phrase {
  font-style: italic;
}

.socials {
  text-align: center;
  width: 90%;
  margin-top: 2rem;
}

.socials h3 {
  margin: 0.5rem 0;
}

.ico-links {
  width: 100%;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.social-ico {
  height: 3rem;
}

.go-up {
  margin: 0;
}

.go-up:hover {
  color: var(--white) !important;
}

.go-up h3 {
  margin-left: 0.5rem;
}

.is-figcaption {
  font-size: 1.5rem;
}

.dot-part > .circle {
  background-color: var(--white);
  width: 3.1rem;
  height: 3.1rem;
  border-radius: 30px;
}

.page-print {
  position: fixed;
  border: 2px solid var(--white);
  width: 200px;
  bottom: 0;
  right: 20px;
  height: fit-content;
  background: var(--box-darkest-green);
  transition: all 0.4s ease-in;
}

.page-print:hover {
  background-color: var(--box-darker-green);
}

.page-print .print-image {
  mask: url("/img/cmyk.svg");
  mask-repeat: no-repeat;
  width: 32px;
  height: 32px;
  mask-size: contain;
  background-color: var(--white);
  -webkit-mask: url("/img/cmyk.svg");
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

.is-button-print {
  height: 30px;
  width: 100%;
  max-width: 100px;
  border: none;
  cursor: pointer;
  pointer-events: visible;
  font-size: 1.4rem;
  background: transparent;
  color: var(--white);
  display: flex;
  align-items: center;
  outline: none;
  font-weight: 400;
}

.print-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 20px;
}

@media screen and (max-width: 700px) {
  .footer {
    flex-wrap: wrap;
  }

  .footer > * {
    flex-basis: 100%;
  }

  .ico-links {
    flex-wrap: wrap;
  }

  .ico-links > * {
    flex-basis: 8ch;
    margin-top: 3ch;
  }

  .dot-part > .circle {
    width: 2rem;
    height: 2rem;
  }

  .is-h1 {
    font-size: 2.5rem !important;
  }
}

@media print {
  *,
  ::before,
  ::after {
    background: var(--white) !important;
    color: var(--black) !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  @page {
    margin: 20mm;
  }

  .page-break-before {
    page-break-before: always;
  }

  header,
  footer {
    display: none !important;
  }

  a[href^="http"]:not([href*="example.com"])::after {
    content: " (" attr(href) ")";
  }
}
