.main-content {
  height: 100vh;
  display: flex;
  width: 100%;
}

.print-image {
  display: none;
}

.main-content__section-content {
  flex-basis: 50%;
  background-color: var(--primary);
}

.main-content__main-image {
  height: 100%;
  background-size: cover;
  background-image: url("../../img/green_nature.jpg");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-content__main-title {
  max-width: 490px;
  color: var(--white);
  margin-left: 17%;
}

.main-content__main-image > .sources {
  left: 3%;
  bottom: 3%;
  color: var(--comment-white);
}

@media (max-width: 900px) {
  .main-content {
    flex-direction: column;
  }

  .main-content__section-content {
    order: 1;
  }
}

@media print {
  .main-content {
    display: block;
  }

  .main-content__section-video {
    display: none !important;
  }

  .print-image {
    margin-top: 5rem;
    display: block;
    width: 500px;
    height: 500px;
    margin-left: 17%;
  }

  .print-image img {
    width: 100%;
    display: inline-block;
    object-fit: contain;
    break-inside: avoid;
  }

  .sources {
    display: block;
  }

  .sources > * {
    display: block;
  }
}
