.title-section {
  padding: 8.33rem 0 0;
}

.redirected-bullet {
  width: 100%;
  align-self: center;
  max-width: 120rem;
  color: var(--white);
  display: flex;
  margin-bottom: 4rem;
}

.dot-part {
  padding-left: 1rem;
}

.title-section__wrapper {
  max-width: 665px;
  width: 100%;
  padding-right: 3.33rem;
}

.title-section__main-text {
  color: var(--white);
  font-size: 3.5rem;
}

.title-section__main-text.title-black {
  color: var(--background);
}

.table-section {
  margin-top: 8.33rem;
}

.table-section__wrapper {
  overflow: auto;
}

.table-section .table-wrapper {
  min-width: 1440px;
}

@media screen and (max-width: 1440px) {
  .redirected-bullet {
    padding-left: 4rem;
    width: calc(100% - 4rem);
  }

  .table-section__wrapper {
    padding: 0 2rem;
    scrollbar-color: var(--background) transparent;
    scrollbar-width: thin;
  }

  .table-section__wrapper::-webkit-scrollbar {
    width: 1rem;
  }

  .table-section__wrapper::-webkit-scrollbar-track {
    background: transparent;
  }

  .table-section__wrapper::-webkit-scrollbar-thumb {
    background-color: var(--background);
    border: 3px solid transparent;
    border-radius: 20px;
    background-clip: content-box;
  }
}

@media screen and (max-width: 900px) {
  .title-section__main-text {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .title-section {
    justify-content: flex-start;
    padding-left: 4rem;
  }

  .title-section__article {
    flex-basis: 100%;
  }
}

.table-attacks {
  margin-top: 6.75rem;
}

.table-attacks .table__body .table__body-element:not(:first-child) {
  background: none;
}

.table-attacks .table__body .table__body-element:first-child {
  vertical-align: top;
  padding-top: 50px;
}

.table-attacks .table__body .table__body-element .table__body-element {
  background: white;
  height: 57px;
  text-align: center;
  vertical-align: middle;
  padding-top: 0;
}

.table-attacks .table__body .table__body-element .table__head-tr:first-child .table__body-element {
  border-top-width: 0;
}

.table-attacks .table__body .table__body-element .table__head-tr .table__body-element:nth-child(2) {
  width: 10.84rem !important;
}

.table-attacks .table__body .table__body-element .table__head-tr .table__body-element:first-child {
  text-align: left;
}

.table-severeness .table .table__body .table__body-element .table__head-tr .table__body-element:nth-child(2) {
  width: 20rem !important;
  text-align: right;
  padding-right: 5rem;
}

.download {
  margin: 60px 0;
}
