@keyframes enter-dropdown {
  0% { opacity: 0; transform: scale(0.95); }
  to { transform: scale(1); opacity: 1%; }
}

@keyframes leave-dropdown {
  0% { transform: scale(1); opacity: 1%; }
  to { opacity: 0; transform: scale(0.95); }
}
.dropdown-enter { animation: enter-dropdown 0.1s ease-out; display: block; }
.dropdown-leave { animation: leave-dropdown 75ms ease-in; display: none !important; }
.options-menu { border: 1px solid var(--semi-black); box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1); color: var(--semi-black); outline: none; }
.dropdown { position: relative; display: inline-block; text-align: left; }
.dropdown .button { border: none; border-bottom: 3px solid var(--semi-black); outline: none; }
.dropdown .select { width: 100%; max-width: 97%; height: 3.91rem; background-color: var(--white); align-items: center; }
.dropdown .button .button-span { padding-left: 0.7em; font-size: 1.25rem; }
.option-dropdown { width: 100%; text-align: left; display: block; cursor: pointer; height: 1.66rem; border: none; transition: background-color 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275); outline: none; }
.option-dropdown:hover { background-color: var(--light-grey); }
.menu-dropdown { z-index: 3; box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1); transform-origin: top; position: absolute; left: 0; margin-top: 2rem; width: 100%; max-width: 97%; height: 20rem; background-color: var(--white); overflow: auto; }
.dropdown-selected { color: var(--attract) !important; }
